<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./styles/aria-docs.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./assets/code.css" />
    <link type="text/css" rel="stylesheet" href="./assets/require-by.css" />
    <link rel="stylesheet" href="./styles/clr-ui.min.css" />
    <title>{{title}}</title>
</head>
<body>
<div class="main-container">
<header class="header-1">
    <div class="branding">
    <a class="navbar-brand-img" href="/">
      <img alt="VMware Aria Hub" src="aria-hub.png" style="width: 40px; height: 40px; margin-right: 0.55rem;">
      <span class="title">VMware Aria GraphQL API Documentation</span>
    </a>  
  </div>
  <form class="search">
    <label for="search_input">
        <input id="type-search" type="text" placeholder="Search types">
    </label>
  </form>
  <div class="header-actions">
      <a href="/ensemble/altair" class="nav-link nav-icon-text">
        <span class="nav-text">Try out GraphQL</span>
        <img alt="Altair GraphQL Client" src="https://github.com/altair-graphql/altair/blob/master/icons/android-icon-192x192.png?raw=true" style="width: 30px; height: 30px;">
      </a>
  </div>
</header>

<div class="content-container">
    <div class="content-area col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="clr-row">
        {{> main}}
      </div>
    </div>
    {{> nav}}
</div>

</div>
    <script src="./scripts/focus-active.js"></script>
    <script src="./scripts/filter-types.js"></script>
    <script src="./scripts/toggle-navigation.js"></script>
</body>