<div class="content-container">
    <div class="content-area">

            <h1 class="slds-text-heading--large">{{title}}</h1> 
            <p>{{{description}}}</p>


            {{#documents}}
            <h2 id="{{#slug}}{{title}}{{/slug}}">
                <a href="#{{#slug}}{{title}}{{/slug}}">
                    <i class="material-icons">link</i>
                </a>
            {{title}}
            </h2>
            {{{description}}}
            {{/documents}}
    </div>
</div>